@media screen and (min-width: 320px) {
    /*
ESTILADO PRINCIPAL
*/

.tarea-formulario {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

/*
ESTILADO INPUT
*/

.tarea-input {
    width: 220px;
    font-size: 18px;
    background-color: white;
    padding: 8px 16px 8px 16px;
    border-radius: 4px 4px;
    border: 2px solid #004d40;
    outline: none;
}

/*
ESTILADO BOTON
*/

.tarea-boton {
    margin-top: 10px;
    padding: 12px;
    font-size: 14px;
    font-family: Roboto, sans-serif;
    border: none;
    border-radius:  4px 4px;
    cursor: pointer;
    outline: none;
    background-color: #004d40;
    color: #fff;
    text-transform: capitalize;
}
}
@media screen and (min-width: 768px) {
.tarea-input {
    width: 350px;
    font-size: 18px;
    background-color: white;
    padding: 14px 32px 14px 16px;
    border-radius: 4px 0 0 4px;
    border: 2px solid #004d40;
    outline: none;
}

.tarea-boton {
    margin-top: 0px;
    padding: 16px;
    font-size: 18px;
    font-family: Roboto, sans-serif;
    border: none;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    outline: none;
    background-color: #004d40;
    color: #fff;
    text-transform: capitalize;
}
}
@media screen and (min-width: 1024px) {
 
}
